@import url(https://fonts.googleapis.com/css?family=Raleway);
$w: 100%;
$h: 100%;
$font-stack: 'Raleway', Helvetica, sans-serif;
$place-fill: #444;
$tip-color: #e2e3e3;
$gray: #333;
$transparent: rgba(0,0,0,.7);
body{
  width: $w;
  height: $h;  
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
	overflow: hidden;
}
.center{
  text-align: center;
}
#intro{
  width: $w;
  border-bottom: 2px solid $gray;
}
h1 {
  font: bold 2rem $font-stack;
  margin: 1rem auto 0;
}
h2{
  font: 1rem $font-stack;
  margin: 1rem auto 0;
}
#footer {
  width: $w;  
  position: absolute;
  bottom: 0px;
  font: .75rem $font-stack;
}
.legend text{
  font-weight:bold;
  color: #F00;
}
#legend{
  position: absolute;
  right: 0;
  margin: 10px;
  padding: 10px;
}
#legend p{
  font: .75rem $font-stack;
}
.axis path {
  fill: none;
}
#map{
  /*margin-top: 7rem;*/
}
text {
  pointer-events: none;
  font: .75rem $font-stack;
}
/*.states {
  fill: $gray;
}*/
.states :hover {
  stroke: #000;
  stroke-width: 2.5px;
}
/*.states {
  fill: none;
  stroke: #ef3b2c;
  stroke-linejoin: round;
}*/
/*.place,
.place-label {
fill: $place-fill;
}
.d3-tip {
  font: 1rem $font-stack;
  padding: 10px;
  background: $transparent;
  color: $tip-color;
} */
.bubble {
  fill-opacity: .5;
  stroke: #fff;
  stroke-width: .5px;
}
.d3-tip {
        font-family: 'Quicksand', sans-serif;
}
p {
  font-family: 'EB Garamond', serif;
  font-size: 12px;
}

text {
  font-family: 'EB Garamond', serif;
  font-size: 12px;
  pointer-events: none;
}

.d3-tip {
  line-height: 1;
  padding: 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #e2e3e3;
}